
:root{

    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #65dd75;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
	padding: 0;
    padding-top: 80px
}



.ul-menu{
    display: flex;
    justify-content:space-between;
    margin-top: 0rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); 
    align-items: center;
	padding: 10px 10px;
    height: 50px;
	line-height: 1.65em;
    margin-bottom: 100px;
    position: fixed;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba y abajo */
    background-color: white;
    
     


}


.container{
    margin-top: 60px;
}


.username-menu{
 display: flex;
 width: 200px;
 margin-right: 40px;
    
}

.username-menu h1 {
    font-size: 18px;
}



.img-logo {
    width: 260px;
    height:150px;
    
}

.about-menu ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-right: 400px;
    
}

.about-menu ul li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding: 12px;
    
    
    
}

.about-menu ul li a{
    text-decoration: none;
    color: #000000;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    font-weight: 100;
    
}

.about-menu ul li a:hover{
    background-color: var(--hospital-green);
    color: white;

}


.search-menu{
    display: flex;
    position: absolute;
    padding: 5px;
    right: 350px;
}

.search-menu input {
    width: 0px;
    height: 30px;
    padding: 0;
    font-size: 15px;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn-search { 
    display: flex;
    justify-content: center;
     align-items: center;
     width: 40px;
     height: 40px;
     line-height: 55px;
     background-color: var(--hospital-green);
     color: var(--white);
     position: absolute;
     top: 0px;
     right: 0px;
     border-radius: 50%;
     font-size: 23px;
     cursor: pointer;
      
      
}

.search-menu:hover input {
    width: 240px;
}


.img-carrito {
    width: 20px;
    height:30px;
    
}


.logo-nombre{
    display: flex;
    flex-direction: row;

}


.logo-nombre h1 {
   font-size: 30px;
  line-height: 44px;
 font-weight: 700;
}

.username-menu h2 {
   font-size: 15px;
   line-height: 20px;
   font-weight: 400;
}


.card {
    display:grid;
    grid-template-columns:350px 450px ;
    grid-template-rows: 60px 1fr 60px 1px 60px;
    column-gap: 65px;
    row-gap: 15px;
    justify-content: center;
    
}

.card img {
    width: 450px;
    height: 450px;
}
.card .name-description {
    grid-column: 2/2;
    
}

.card .desc-description {
    grid-column: 2/2;
    grid-row: 2/2;
    font-size: var(--lg);
    color: rgb(132, 126, 126);
}

.card .price-description {
    grid-column: 2/2 ;
    grid-row: 3 / 3;
    font-weight: bold;
    font-size: 18px;
}

.card .btn-description{
    grid-column: 2/2;
    grid-row :4/4 ;
}

.card .addAmount {
    
    grid-column: 2/2;
    
   
}

.card .containerAttributes{
    grid-column: 2/2;
    grid-row: 5/5;
}

.addAmount {
    display: flex;
    align-items: center;
    gap : 5px;
}



.addAmount input{
     width: 50px;
     height: 25px;

}


.btn-description {
    background-color:var(--hospital-green);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 15px;
    width: 100px;
    height: 35px;
   

    
}

.btn-description:hover {
    cursor: cell;
    
}

.containerAttributes{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 100px 170px;
    grid-template-rows: 50px 50px 50px;
   
}


.containerAttributes h1 {
    font-size: 17px;
    font-weight: bold;
}
.containerAttributes .hardinessh{
    grid-column: 1/2;
}

.containerAttributes .tasteh{
    grid-column: 1/2;
    grid-row: 3/4;
}

.containerAttributes .pshape {
    grid-column: 3/2;
    grid-row: 1/2;
}



.description-footer{
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px 400px ;
    grid-template-rows: 1fr 200px;
    column-gap: -50px;
    width: 100%;
    height: 250px;
    margin-top: 80px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding-top: 25px;
    margin-top: 200px;
}

.description-footer h1  {
    font-size: 17px;

}

.description-footer .address{
    grid-column: 1/2;
}

.description-footer .socialmedia{
   grid-column: 2/3 ;
   
}

.description-footer .ccpay {
    grid-column: 3/4;
    grid-row: 2/3 ;
    
    
}

.description-footer .address .img-address> img {
    width: 40px;
    height: 40px;
}



.description-footer .socialmedia  img{
    width: 25px;
    height: 25px;
}


.description-footer .address{
    display: flex;
}

.socialmedia a > p {
  display: flex;
  text-align: center;
  font-size: 14px;

  
  
   
}

 .ccpay {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    
 }

.ccpay img{
    width: 35px;
    height: 40px;
}









