
:root{

    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #65dd75;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --box : 

}

body{

    font-family: 'Quicksand', sans-serif;
    margin:0px;
}



.ul-menu{
    display: flex;
    justify-content: space-around;
    margin-top: 0rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    align-items: center;

	padding: 10px;
    padding-top: 10px;  
    height: 70px;
	line-height: 1.65em;
    
     


}


.username-menu{
 display: flex;
 justify-content: space-around;
 width: 300px;
 margin-right: -190px;
    
}

.img-logo {
    width: 80px;
    height:80px;
    
}
.img-carrito {
    width: 30px;
    height:30px;
    
}

.img-profile{
    width: 30px;
    height: 30;
}
.search-menu{
    display: flex;
}

.search-menu input {
    width: 500px;
    height: 35px;
}
.btn-menu{
    width: 100px;
    font-size: large;
    font-weight: bold;
    background-color:var(--hospital-green);
    border: none;
    color: var(--white);
    
    
}

.logo-nombre{
    display: flex;
    flex-direction: row;

}


.logo-nombre h1 {
   font-size: 30px;
  line-height: 44px;
font-weight: 700;
}

.username-menu h2 {
   font-size: 15px;
   line-height: 20px;
   font-weight: 400;
}

.img-aguacate {
    width: 180px;
    height: 180px;
}

.card {
    width: 250px;
    height: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.container{
    display:grid;
    grid-template-columns:300px 300px 300px ;
}



