
:root{

    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #65dd75;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    

}

body{

    font-family: 'Quicksand', sans-serif;
    margin: 0;
	padding: 0;
    padding-top: 80px
}




.ul-menu{
    display: flex;
    justify-content:space-between;
    margin-top: 0rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); 
    align-items: center;
	padding: 10px 10px;
    height: 50px;
	line-height: 1.65em;
    margin-bottom: 100px;
    position: fixed;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba y abajo */
    background-color: white;
    
     


}


.username-menu{
 display: flex;
 width: 200px;
 margin-right: 40px;
    
}

.username-menu h1 {
    font-size: 18px;
}

.img-logo {
    width: 260px;
    height:150px;
    
}

.about-menu ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-right: 400px;
    
}


.about-menu ul li {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 12px;
    
    
    
}

.about-menu ul li a{
    text-decoration: none;
    color: #000000;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    font-weight: 100;
    
}

.about-menu ul li a:hover{
    background-color: var(--hospital-green);
    color: white;

}



.search-menu{
    display: flex;
    position: absolute;
    padding: 5px;
    right: 350px;
}

.search-menu input {
    width: 0px;
    height: 30px;
    padding: 0;
    font-size: 15px;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn-search { 
     display: flex;
     justify-content: center;
      align-items: center;
      
      width: 40px;
      height: 40px;
      line-height: 55px;
      background-color: var(--hospital-green);
      color: var(--white);
      position: absolute;
      top: 0px;
      right: 0px;
      border-radius: 50%;
      font-size: 23px;
      cursor: pointer;
      
}



.search-menu:hover input {
    width: 240px;
}


.img-carrito {
    width: 20px;
    height:30px;
    
}


.username-menu h2 {
   font-size: 15px;
   line-height: 20px;
   font-weight: 400;
}

.img-aguacate {
    width: 180px;
    height: 180px;
    margin-left: 30px;
    
}

.container{
    display:grid;
    grid-template-columns:300px 300px 300px ;
    column-gap: 5px;
    row-gap: 10px;
    justify-content: center;
    
    
}

.card {
    
    width: 275px;
    height: 330px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    
}
.card:hover{
   cursor: pointer;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    /* transform: translateY(0.5%);  */
   overflow: hidden;
}

.btn-aguacate {
    background-color:var(--hospital-green);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 15px;
    width: 80px;
    height: 30px;
    
}

.btn-aguacate:hover{
    cursor: cell;
}
.name-aguacate{
    font-size: var(--lg);
    padding: 0;
    margin-bottom: 7px;
    
}

.name-aguacate:hover{
 text-decoration:underline;
 color: var(--hospital-green);
    
}

.des-aguacate{
    font-size: var(--sm);
    color: rgb(132, 126, 126)
}

.description-footer{
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px 400px ;
    grid-template-rows: 1fr 200px;
    column-gap: -50px;
    width: 100%;
    height: 250px;
    margin-top: 80px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding-top: 25px;
}

.description-footer h1  {
    font-size: 17px;

}

.description-footer .address{
    grid-column: 1/2;
}

.description-footer .socialmedia{
   grid-column: 2/3 ;
   
}

.description-footer .ccpay {
    grid-column: 3/4;
    grid-row: 2/3 ;
    
    
}

.description-footer .address .img-address> img {
    width: 40px;
    height: 40px;
}



.description-footer .socialmedia  img{
    width: 25px;
    height: 25px;
}


.description-footer .address{
    display: flex;
}

.socialmedia a > p {
  display: flex;
  text-align: center;
  font-size: 14px;

  
  
   
}

 .ccpay {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    
 }

.ccpay img{
    width: 35px;
    height: 40px;
}


