
:root{

    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #65dd75;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    

}

body{

    font-family: 'Quicksand', sans-serif;
    margin: 0;
	padding: 0;
    padding-top: 80px
}




.ul-menu{
    display: flex;
    justify-content: space-around;
    margin-top: 0rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); 
    align-items: center;
	padding: 10px;
    padding-top: 10px;  
    height: 70px;
	line-height: 1.65em;
    margin-bottom: 100px;
    position: fixed;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba y abajo */
    background-color: white;
    
     


}


.username-menu{
 display: flex;
 width: 200px;
 margin-right: 40px;
    
}

.username-menu h1 {
    font-size: 18px;
}

.img-carrito {
    width: 20px;
    height:30px;
    
}

.img-logo {
    width: 260px;
    height:150px;
    
}

.about-menu ul{
    display: flex;
    flex-direction: row;
    
}

.about-menu ul li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding: 12px;
    
    
    
}

.about-menu ul li a{
    text-decoration: none;
    color: #000000;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    font-weight: 100;
    
}

.about-menu ul li a:hover{
    background-color: var(--hospital-green);
    color: white;

}





.img-profile{
    width: 30px;
    height: 30;
}
.search-menu{
    display: flex;
}

.search-menu input {
    width: 350px;
    height: 35px;
    border-radius: 30px;
    outline: none;
    border: 1px solid silver;
    padding-left: 5px;
}

.btn-search { 
      text-align: center;
      width: 50px;
      height: 50px;
      line-height: 55px;
      background-color: var(--hospital-green);
      color: var(--white);
      position: absolute;
      top: 19px;
      right: 350px;
      border-radius: 50%;
      font-size: 25px;
      
      
}

.btn-search:hover{
    cursor: pointer;
}


.logo-nombre{
    display: flex;
    flex-direction: row;

}


.logo-nombre h1 {
   font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  text-decoration: none;
  list-style: none;
 
}

.username-menu h2 {
   font-size: 15px;
   line-height: 20px;
   font-weight: 400;
}

.img-aguacate {
    width: 180px;
    height: 180px;
    margin-left: 30px;
    
}

.container{
    display:grid;
    grid-template-columns:300px 300px 300px ;
    column-gap: 5px;
    row-gap: 10px;
    justify-content: center;
    
    
}

.card {
    
    width: 275px;
    height: 330px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    
}
.card:hover{
   cursor: pointer;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    /* transform: translateY(0.5%);  */
   overflow: hidden;
}

.btn-aguacate {
    background-color:var(--hospital-green);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 15px;
    width: 80px;
    height: 30px;
    
}

.btn-aguacate:hover{
    cursor: cell;
}
.name-aguacate{
    font-size: var(--lg);
    padding: 0;
    margin-bottom: 7px;
    
}

.name-aguacate:hover{
 text-decoration:underline;
 color: var(--hospital-green);
    
}

.des-aguacate{
    font-size: var(--sm);
    color: rgb(132, 126, 126)
}

.description-footer{
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px 400px ;
    background: var(--hospital-green);
    column-gap: -50px;
    width: 100%;
    height: 300px;
    margin-top: 50px;
}

.description-footer h1  {
    font-size: 20px;

}

.description-footer .address{
    grid-column: 1/2;
}

.description-footer .socialmedia{
   grid-column: 2/3 ;
   
}

.description-footer .ccpay {
    grid-column: 3/4;
}

.description-footer .address .img-address> img {
    width: 50px;
    height: 50px;
}

.description-footer .socialmedia  img{
    width: 30px;
    height: 35px;
}


.description-footer .address{
    display: flex;
}

.ccpayimage{
    display: flex;
    justify-content:center;
    gap:30px;
}

.ccpay img{
    width: 35px;
    height: 50px;
}


